body {
  background-color: #BCC5D6;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  color: #2C3A56;
}

header img {
  border: none;
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border: 5px double #878C97;
}
